services:
  neo4j_db:
    image: neo4j:5.15
    container_name: neo4j_db
    environment:
      NEO4J_AUTH: ${NEO4J_USER}/${NEO4J_PASSWORD}
      NEO4J_PLUGINS: '["apoc"]'    
    ports:
      - "7474:7474"  
      - "7687:7687"  
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    restart: unless-stopped

  mongo_db:
    image: mongo:7
    container_name: mongo_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped
  
#  redis:
#    image: redis:7.2-alpine
#    container_name: redis-tpo
#    restart: always
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis_data:/data
#      - ./redis.conf:/usr/local/etc/redis/redis.conf
#    command: redis-server /usr/local/etc/redis/redis.conf
#    networks:
#      - redis-network

  redis_db:
    image: redis:7-alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

volumes:
  neo4j_data:
  neo4j_logs:
  mongo_data:
  redis_data:

#networks:
#  redis-network:
#    driver: bridge
